h1 cdr255
nav
  ul
    li 
      a(href="index") Home
    li
      a(href="about") About
    li
      a(href="#") Music
        span: .caret
      div
        ul
          li
            a(href="lessons") Lessons
          li
            a(href="compositions") Compositions
          li
            a(href="recordings") Recordings
    li
      a(href="#") Games
        span: .caret
      div
        ul
          li
            a(href="games") My Games
          li
            a(href="logs") TTRPG Logs
          li
            a(href="reviews") Reviews
    li
      a(href="#") Computers
        span: .caret
      div
        ul
          li
            a(href="software") Software
          li
            a(href="linux") GNU/Linux
          li
            a(href="howtos") How-Tos
  
    li
      a(href="#") Misc
        span: .caret
      div
        ul
          li
            a(href="links") Links
          li
            a(href="conlangs") Conlangs
          li
            a(href="collections") Collections
          li
            a(href="stuff") Other Stuff
    li
      a(href="http://toftandtoddy.com") Blog